<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="myCS" connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="D:\APU WJW\WJW\APU Archives\Y1 S2\Introduction To Object Oriented Programming\Assignments\Group Assignment\Group 5\WinFormsApp1\assignment.mdf";Integrated Security=True'
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>